<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lateef</title>
    <link rel="stylesheet" href="/static/Lateef.css">
</head>
<body>
    <h1>My Name is Lateef Wilson</h1>
    <h2>Hello!</h2>
    <img width="700px" height="600px" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi0.wp.com%2F2.bp.blogspot.com%2F-gKcvB77XBF4%2FWJY8b4i_FJI%2FAAAAAAAAIV8%2FXs3W-wJubN0ICQFGc0D4Y6yJvrmczr9QgCEw%2Fs1600%2FDSC_0998.JPG%3Fssl%3D1&f=1&nofb=1">
    <p>I really liked mac and cheese, specifically baked mac and cheese.
    <br> My grandmother made mac and cheese for the most recent Thanksgiving and it was delicious
    </p>

</body>
</html>