<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
</head>
<body>
    <form action="/" method="POST">

        <label for="description">Don't forget to:</label><br>
        <input type="text" id="description" name="description"><br>

        <label for="datetime">Set reminder for:</label><br>
        <input type="datetime-local" id="datetime" name="datetime">
    
        <button type="submit">Create Task</button>
    </form>
</body>
</html>